In [9]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Manish Manikandan\Downloads\dataset.csv")
df.head()

      pH      ppm  temp  ph_pump  ppm_pump  temp_pump  Label
0  5.306  1235.19  25.4        0         1          1      5
1  3.144  1203.01  21.5        1         1          1     14
2  7.328  1295.48  21.6        2         0          1     20
3  3.101  1309.19  21.8        1         0          1     11
4  4.427  1413.78  21.4        1         2          2     18

In [12]:
X = df.drop(columns=['ph_pump'])
X.head()

      pH      ppm  temp  ppm_pump  temp_pump  Label
0  5.306  1235.19  25.4         1          1      5
1  3.144  1203.01  21.5         1          1     14
2  7.328  1295.48  21.6         0          1     20
3  3.101  1309.19  21.8         0          1     11
4  4.427  1413.78  21.4         2          2     18

In [13]:
from sklearn import preprocessing
from sklearn import utils
y=df['ph_pump'].values
#y.head()

In [14]:
from sklearn.model_selection import train_test_split
#split dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [15]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb = GaussianNB()
#Train the model using the training sets
gnb.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = gnb.predict(X_test)

In [16]:
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [17]:
#X1=df.drop(columns=['air_temp','id','pHlow','pHhigh','temperature_clow','temperature_chigh','ppmlow','ppmhigh','humidity'])

In [18]:
corr=df.corr(method="spearman")
print(corr)

                 pH       ppm      temp   ph_pump  ppm_pump  temp_pump  \
pH         1.000000 -0.000298  0.001666  0.567833 -0.002943   0.001032
ppm       -0.000298  1.000000 -0.000735 -0.000125  0.469485   0.001584
temp       0.001666 -0.000735  1.000000 -0.000973  0.000811   0.004523
ph_pump    0.567833 -0.000125 -0.000973  1.000000 -0.001380  -0.000393
ppm_pump  -0.002943  0.469485  0.000811 -0.001380  1.000000  -0.001467
temp_pump  0.001032  0.001584  0.004523 -0.000393 -0.001467   1.000000
Label      0.532281  0.153027 -0.000221  0.937413  0.324535   0.107785

              Label
pH         0.532281
ppm        0.153027
temp      -0.000221
ph_pump    0.937413
ppm_pump   0.324535
temp_pump  0.107785
Label      1.000000